extends layout

block menu
    include includes/profile-menu
    +menu('menu.config')
block js
    script(src='/javascripts/ui-bootstrap-tpls-0.11.0.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/services/baseService.js')
    script(src='/javascripts/services/configService.js')
    script(src='/javascripts/controllers/config.js')
    script(src='/javascripts/common-directives.js')
    script(src='/javascripts/common-functions.js')
block content
    div.container(ng-controller="configController" ng-init="init()")
      button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal')
        span(class="glyphicon glyphicon-plus")
      form(name="editConfigForm" novalidate)
        table.table.table-striped.table-condensed.table-hover
          thead
            tr
              .input-append
                input(type="text" class="input-lg text-center" ng-model="sortingOrder" placeholder=t("customer.enterName"))
                span.add-on
                  i.icon-search
            tr.input-lg.text-center
              th=t("config.name")
                a(ng-click='sort_by(\'name\')')
                  i(class="glyphicon glyphicon-sort")
              th=t("config.value")
                a(ng-click='sort_by(\'description\')')
                  i(class="glyphicon glyphicon-sort")
              th=t("config.status")
                a(ng-click='sort_by(\'field3\')')
              th
          tbody
            //- tr(ng-repeat='item in pagedItems[currentPage] | orderBy:sortingOrder:reverse')
            tr.input-lg.text-left(ng-hide="editorEnabled" ng-repeat='item in list | filter:sortingOrder:reverse')
              td {{item.name}}
              td {{item.value}}
              td.col-xs-1 
                  -if(true)
                      span.label.label-success=t("actived")
                  -else
                      span.label.label-danger=t("blocked")
              td
                  p
                      button(ng-click="edit(item._id)" type="button" class="btn btn-primary")
                          span(class="glyphicon glyphicon-edit")
                      span &nbsp;
                      //- button(type="button" class="btn btn-danger")=t("button.delete")

            tr.input-lg.text-center(ng-show="editorEnabled")
              td(class="col-xs-2")
                  label {{editConfig.name}}
              td(class="col-xs-6")
                  textarea(class="form-control input-lg text-center" required placeholder=t("config.enterValue") ng-model="editConfig.value")
              td(class="col-xs-1")
                  input(type="checkbox" text=t("config.status") checked="{{editConfig.status}}")
              td(class="col-xs-3")
                  p
                      button(type="button" class="btn btn-primary" ng-click="updateConfig(editConfigForm, editConfig)")
                          span(class="glyphicon glyphicon-ok")
                      span &nbsp;
                      button(type="button" class="btn btn-default" ng-click="cancel()")
                          span(class="glyphicon glyphicon-remove")
      br
      hr
      form(name="configModelForm" novalidate)
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4#myModalLabel.modal-title=t("config.configInfo")
                  .modal-body
                    div( id="messages" ng-show="message") {{ message }}
                    div(class="form-group" ng-class="{ 'has-error' : newConfig.name.$invalid && !newConfig.name.$pristine }")
                        input(type="text" name="name" class="form-control input-lg text-center" required placeholder=t("config.enterName") ng-model="newConfig.name")
                        span(ng-show="newConfig.name.$error.required")=t("validation.required")
                    div.form-group(ng-class="{ 'has-error' : newConfig.value.$invalid && !newConfig.value.$pristine }")
                        input(type="text" name="value" class="form-control input-lg text-center" required placeholder=t("config.enterValue") ng-model="newConfig.value")
                        span(ng-show="newConfig.value.$error.required")=t("validation.required")
                    div.form-group
                        div.controls
                            input(type="checkbox" text=t("config.status") ng-model="newConfig.status")
                  .modal-footer
                    button.btn.btn-default(type='button' class="btn btn-default btn-lg" data-dismiss='modal')=t("button.close")
                    input(type="submit" class="btn btn-primary btn-lg" ng-click="createConfig(newConfig, configModelForm)" ng-disabled="configModelForm.$invalid" value=t("button.add"))