extends layout

block menu
    include includes/profile-menu
    +menu('menu.customer')
block js
    script(src='/javascripts/ui-bootstrap-tpls-0.11.0.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers/customer.js')
    script(src='/javascripts/services/baseService.js')
    script(src='/javascripts/services/customerService.js')
    script(src='/javascripts/common-functions.js')
block content
    div.container(ng-controller="customerController" ng-init="init()")
        button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal')
            span(class="glyphicon glyphicon-plus")
        div.row-fluid.table-responsive
            .input-append
                input(type="text" class="input-lg text-center" ng-model="searchText" placeholder=t("customer.enterName"))
                span.add-on
                    i.icon-search
            .pull-right.badge {{ list.length }}
            hr
            table.input-lg(class="table table-striped")
                thead
                    tr
                        th= t("customer.name")
                        th= t("customer.address")
                        th= t("customer.phone")
                        th= t("customer.discount")
                        th= t("customer.status")
                        th
                tbody
                    tr(ng-hide="editorEnabled" ng-repeat="customer in list | filter:searchText")
                        td {{customer.name}}
                        td {{customer.address}}
                        td {{customer.phone}}
                        td {{customer.discount}}
                        td
                            span {{customer.status}}
                            
                        td
                            p
                                button(ng-click="edit(customer._id)" type="button" class="btn btn-primary")
                                    span(class="glyphicon glyphicon-edit")
                                span &nbsp;
                                button(type="button" class="btn btn-danger")
                                    span(class="glyphicon glyphicon-trash")
                    tr(ng-show="editorEnabled")
                        td
                            input(type="text" name="editCustomer.name" class="form-control input-lg text-center" placeholder=t("customer.enterName") ng-model="editCustomer.name")
                        td
                            input(type="text" name="editCustomer.address" class="form-control input-lg text-center" placeholder=t("customer.enterAddress") ng-model="editCustomer.address")
                        td
                            input(type="text" name="editCustomer.phone" valid-number class="form-control input-lg text-center" required placeholder=t("customer.enterPhone") ng-model="editCustomer.phone" ng-minlength="8" ng-maxlength="30")
                            span(class="error" ng-show="editCustomer.phone.$dirty && editCustomer.phone.$invalid")=t("validation.number")
                            //- span(ng-show="editCustomer.phone.$error.required")=t("validation.required")
                        td
                            input(type="number" min="0" max="5" name="editCustomer.discount" class="form-control input-lg text-center" placeholder=t("customer.enterDiscount") ng-model="editCustomer.discount")

                        td
                            input(type="checkbox" text=t("customer.status") ng-model="editCustomer.status" checked="{{editCustomer.status}}")
                        td
                            p
                                button(type="button" class="btn btn-primary" ng-click="update(editCustomer)")
                                    span(class="glyphicon glyphicon-ok")
                                span &nbsp;
                                button(type="button" class="btn btn-default" ng-click="cancel()")
                                    span(class="glyphicon glyphicon-remove")

        hr
        form(name="customerModelForm" novalidate)
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4#myModalLabel.modal-title=t("customer.customerInfo")
                  .modal-body
                        div( id="messages" ng-show="message") {{ message }}
                        .form-group(ng-class="{ 'has-error' : customerModel.name.$invalid && !customerModel.name.$pristine }")
                            input(type="text" name="name" ensureUnique class="form-control input-lg text-center" required placeholder=t("customer.enterName") ng-model="newCustomer.name")
                            span(class="help-block" ng-show="customerModel.name.$error.required")=t("validation.required")
                        .form-group
                            input(type="text" class="form-control input-lg text-center" placeholder=t("customer.enterAddress") ng-model="newCustomer.address")
                        .form-group(ng-class="{ 'has-error' : customerModel.phone.$invalid && !customerModel.phone.$pristine }")
                            input(type="text" name="phone" valid-number class="form-control input-lg text-center" placeholder=t("customer.enterPhone") ng-model="newCustomer.phone" ng-minlength="8" ng-maxlength="30")
                            span(class="help-block" ng-show="customerModel.phone.$dirty && customerModel.phone.$invalid")=t("validation.number")
                            span(class="help-block" ng-show="customerModel.phone.$error.required")=t("validation.required")
                        .form-group(ng-class="{ 'has-error' : customerModel.discount.$invalid && !customerModel.discount.$pristine }")
                            input(type="number" min="0" max="5" name="discount" class="form-control input-lg text-center" placeholder=t("customer.enterDiscount") ng-model="newCustomer.discount")
                        .form-group
                            label.control-label(for='checkboxes')=t("customer.status")
                              .col-md-4
                                .checkbox
                                    label.checkbox-inline(for='checkboxe-status')
                                        input#checkboxe-status(type="checkbox" ng-model="newCustomer.status")
                  .modal-footer
                    button.btn.btn-default(type='button' class="btn btn-default btn-lg" data-dismiss='modal')=t("button.close")
                    input(type="submit" class="btn btn-primary btn-lg" ng-click="createCustomer(customerModel, customerModelForm)" ng-disabled="customerModelForm.$invalid" value=t("button.add"))