extends layout

block css
    link(rel='stylesheet', href='/stylesheets/signin.css')
    script(src='/javascripts/controllers/login.js')
block content
    div.container
        .form-group
            form.form-signin(method="post" action="/login" novalidate name="loginForm"  accept-charset="UTF-8")
              legend=t("user.loginTitle")
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input.form-control.input-lg(type='text', name='username', placeholder=t("user.enterUsername"))
              span(class="help-block" ng-show="loginForm.username.$error.required")=t("validation.required")
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
                input.form-control.input-lg(type='password', name='password', placeholder=t("user.enterPassword"))
              span(class="help-block" ng-show="loginForm.password.$error.required")=t("validation.required")
              .col-xs-12.col-sm-6
                label.checkbox=t("user.rememberMe")
                  input(type='checkbox', value='remember-me')
              button.btn.btn-lg.btn-primary.btn-block(type='submit')=t("app.login")
