extends layout

block head
    script(src='/javascripts/controllers/product.js')
    script(src='/javascripts/controllers/common-directives.js')
block content
    div.container(ng-controller="productController")
        div.row
            div(class="col-xs-1")=t("product.format")
            div(class="col-xs-1")=t("product.length")
            div(class="col-xs-2")=t("product.type")
            div(class="col-xs-1")=t("product.salePrice")
            div(class="col-xs-2")=t("product.status")
            div(class="col-xs-3") &nbsp;
        div.row(ng-hide="editorEnabled" ng-repeat="product in list")
            div(class="col-xs-2") {{product.format}}
            div(class="col-xs-2") {{product.length}}
            div(class="col-xs-3") {{product.type}}
            div(class="col-xs-3") {{product.salePrice}}
            div(class="col-xs-2") {{product.status}}
            div(class="col-xs-3")
                p
                    button(ng-click="edit(product._id)" type="button" class="btn btn-primary btn-lg")=t("button.edit")
                    span &nbsp;
                    button(type="button" class="btn btn-danger btn-lg")=t("button.delete")

        div.row(ng-show="editorEnabled")
            div(class="col-xs-3")
                input(type="text" class="form-control input-lg text-center" required placeholder=t("product.enterName") ng-model="newproduct.name")
            div(class="col-xs-3")
                input(type="text" class="form-control input-lg text-center" required placeholder=t("product.enterValue") ng-model="newproduct.value")
            div(class="col-xs-3")
                input(type="checkbox" text=t("product.status") checked="{{newproduct.status}}")
            div(class="col-xs-3")
                p
                    button(type="button" class="btn btn-primary" ng-click="updateproduct(newproduct)")
                        span(class="glyphicon glyphicon-ok")
                    span &nbsp;
                    button(type="button" class="btn btn-default" ng-click="cancel()")
                        span(class="glyphicon glyphicon-remove")
        br
        hr
        form(name="productModel")
            div.row
                h2(class="form-signin-heading") product Info
                div(class="form-group")
                    input(type="text" class="form-control input-lg text-center" required placeholder=t("product.enterName") ng-model="productModel.name")
                    span(ng-show="productModel.name.$error.required")=t("validation.required")
                div.form-group
                    input(type="text" class="form-control input-lg text-center" required placeholder=t("product.enterValue") ng-model="productModel.value")
                    span(ng-show="productModel.value.$error.required")=t("validation.required")
                div.form-group
                    div.controls
                        input(type="checkbox" text=t("product.status"))
                div.control-group
                    input(type="submit" class="btn btn-primary btn-lg" 
                    ng-click="createproduct(productModel)" ng-disabled="productModel.$invalid")